<html>
    <head>
        <title>Deepali Verma</title> 
        <link rel = "icon" href = "assets/infinity.png" type = "image/x-icon"> 
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="about" class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="assets/ProfilePic.jpg" alt="Profile Image" class="profile-image">
                        <br><br>
               
                </div>
                <br><br><br>
            <h2>About Me</h2>
            <br><br>
           
            <div class="col-sm-5">
                <p class="about-description" >I am <b>Deepali Verma</b>, an international student pursuing Software Engineering Technology at 
                    Centennial College. I am a dynamic and highly motivated software developer with proficiency in a wide range
                     of technologies, including Java, C#, and SQL. With a solid foundation in software engineering and a passion 
                     for problem-solving.My hands-on experience in web development and database management has sharpened my skills
                      in object-oriented programming and advanced databases. I am a diligent and precise worker, dedicated to delivering
                       high-quality results. Multilingual in English, Punjabi, and Hindi, I leverage strong communication skills to support
                        clients and collaborate effectively with colleagues.</p>
                        <a href="assets/resume_coop.pdf" target="_blank" class="resume-link">Download Resume</a>
                        </div>
                        </div>
                    
            </div>
                <div class="sub-sections">
                    <div class="sub-section">
                    <h3>My Background</h3>
                    <p>I've been into the software world for long time! Here you find a list with my
                        educational background. 
                    </p>
                    <ul>
                        <li>
                        <span>Software Engeineering Technology</span>
                        <p>Centennial College, 2023 - currently</p>
                        </li>
                        <li>
                        <span>Bachelor's of Computer Applications</span>
                        <p>Punjabi University, 2019 - 2022</p>
                        </li>
                        <li>
                        <span>Full-stack Development Certification</span>
                        <p>SPIC-Excellence academy, July 2022-March 2023</p>
                        </li>
                    </ul>
                    </div>
                    <div class="sub-section">
                    <h3>Services</h3>
                    <p>Let me help you with your software needs. Here you'll find a list of
                        services provided by my in order to accomplish your software goals.
                    </p>
                    <ul>
                        <li>
                        <span>Full Stack development</span>
                        </li>
                        <li>
                        <span>Backend developer</span>
                        </li>
                        <li>
                        <span>Data Analysis</span>
                        </li>
                        <li>
                        <span>Development Troubleshooting</span>
                        </li>
                    </ul>
                    </div>
                    <div class="sub-section">
                    <h3>Skills</h3>
                    <p>In my resume, you'll explore my skills and expertise in various programming languages and technologies.</p>
                    <ul>
                        <li>
                        <span>Agile Methodology</span>
                        </li>
                        <li>
                        <span>Object-oriented programming</span>
                        </li>
                        <li>
                        <span>Back-end Development</span>
                        </li>
                        <li>
                        <span>Articulateness</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
           
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
    
      
    
      
</body>
</html>
